html, body {
	background: #F9F9FA;
	font-family: 'Roboto';
	padding: 0px;
	margin: 0px;
}

body {
	text-align: center;
}

#info {
	background: #dddddd;
	align-items: center;
	display: block;
	z-index: 1;
}

#topbar {
	text-align: center;
	color: white;
	background: #151515;
	padding: 10px;
}

.infobox {
	display: inline-block;
	background: white;
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
	padding: 0px 30px 0px 30px;
	margin: 5px;
}

.link {
	background: #7289da;
	color: white;
	font-size: 25px;
	font-weight: bold;
	padding: 10px;
	border-radius: 12px;
	border: 2px solid white;
}

#welcome {

}

#whatsnew {
}

a {
	color: inherit;
	text-decoration: none;
}

.map-type-box {
	background: #dddddd;
	display: inline-block;
	margin: 8px;
	vertical-align: top;
}

.map-type-header {
	color: white;
	background: black;
	padding: 5px;
	font-size: 20px;
}

.map-button {
	background: white;
	font-size: 20px;
	display: inline-block;
	padding: 8px;
	margin: 5px;
	border: 1px solid #bbbbbb;
}

.seperator {
	font-size: 20px;
}

.map-button:hover {
	background-color: #eeeeff;
}

#bottombar {
	font-size: 16px;
	text-align: right;
	text-decoration: none;
	background: #151515;
	width: 100%;
	bottom: 0%;
	border-top: 1px solid black;
	box-shadow: 1px 0px 4px black;
	z-index: 1;
	margin-top: 25px;
	float: bottom;
}

#bottombar a {
	background: white;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid black;
}
