html, body {
	background: #eeeeee;
	font-family: 'Roboto';
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}

img {
	height: 20px;
	width: 30px;
	margin-right: 5px;
}

a {
	text-decoration: none;
	color: inherit;
}

#topbar {
	text-align: center;
	color: white;
	background: #151515;
	padding: 10px;
	font-size: 1.75em;
}

#topbar > h1 {
	font-size: 1em;
}

#layout {
	display: flex;
	flex-direction: row;
}

#featured {
	text-align: center;
	flex: 1 1 85%;
}

#infobox {
	display: inline-block;
	padding: 7px;
	margin: 5px;
	border: 1px solid black;
	background: white;
	font-size: 1em;
}

#upcoming {
	display: inline-block;
}

.upcoming-election {
	display: inline-block;
	border-radius: 5px;
	margin: 0.5em;
}

.upcoming-election h3 {
	background: black;
	color: white;
	font-weight: normal;
	font-size: 1em;
	margin: 0px;
	padding: 1em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	border-radius: 3px;
}

.upcoming-info {
	padding: 5px;
	background: #dddddd;
	border-radius: 6px;
	margin: 3px;
}

.map-button {
	transition: background 500ms;
}

.map-button:hover {
	background: #ccccdd;
}

#navigation {
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	flex: 1 1 15%;
	
	z-index: 1;
}

.navigation-1 {
	position: relative;
	color: white;
	margin: 0.5em;
	width: 100%;
	
	overflow: visible;
	transition: width 200ms linear 0ms;
}

.navigation-1 > h3 {
	display: flex;
	flex-direction: row;
	padding: 0.5em;
	margin: 0.0em;
	font-weight: normal;
	font-size: 1em;
	background: black;
	border-radius: 8px;
}

.navigation-1 > h3 > img {
	border-radius: 3px;
}


.navigation-1 > h3 > .text {
	flex: 1 1;
	white-space: nowrap;
}

.navigation-1:hover {
	width: 200%;
	transition: width 100ms linear 0ms;
}

.navigation-1:hover .navigation-2 {
	visibility: visible;
	opacity: 1;
	transition: opacity 200ms linear 100ms;
}

.navigation-2 {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	position: absolute;
	color: black;
	left: 50%;
	width: 50%;
	opacity: 0;
}

.navigation-3 {
	display: flex;
	flex-direction: row;
}

.navigation-4 {
	flex: 1 1;
	font-size: 1em;
	padding: 5px;
	background: #dddddd;
	border-radius: 6px;
	margin: 3px;
	transition: background 500ms;
	cursor: pointer;
}

.navigation-4:hover {
	background: #ccccdd;
}
