#consent {
	position: absolute;
	background: #cccccc;
	left: 50%;
	bottom: 50%;
	transform: translateX(-50%) translateY(50%);
	z-index: 20;
	padding: 10px;
	border-radius: 1em;
	border: 1px solid black;
	box-shadow: 
}

.consent-button {
	display: inline-block;
	background: white;
	cursor: pointer;
	border-radius: 0.5em;
	box-shadow: 2px 3px 3px #000000;
	padding: 0.75em;
	transition: 250ms all;
}

.consent-button:hover {
	box-shadow: 2px 3px 3px #555555;
}
