#legend-div {
	position: absolute;
	border-color: #2f3136;
	z-index: 2;
	pointer-events: none;
	top: 0px;
}

.legend-button {
	display: inline-block;
	cursor: pointer;
	margin-top: 4px;
	margin-left: 3px;
	margin-right: 0px;
	vertical-align: top;
	pointer-events: auto;
	border: 1px solid;
	border-color: inherit;
}

.legend-delete {
	display: inline-block;
	cursor: pointer;
	margin-top: 4px;
	margin-left: 0px;
	margin-right: 3px;
	vertical-align: top;
	pointer-events: auto;
	border: 1px solid;
	border-left: 0px;
	border-color: inherit;
}

.legend-delete-text {
	color: inherit;
}

.legend-color-div {
	display: flex;
	flex-direction: row;
}

.legend-color {
	min-height: 10px;
	min-width: 20px;
	flex: 1;
}

.legend-button-text {
	color: inherit;
	transition: all 100ms;
	transition-timing-function: linear;
}
