.popup {
	display: none;
	background-color: #ffffff;
	border: 1px solid black;
	border-radius: 10px;

	padding: 4px;	
	z-index: 10;

	position: absolute;
	left: 50%;
	top: 50%;
	max-height: 80%;
	transform: translate(-50%, -50%);

	overflow-y: auto;
}

/* make the close button stay on the left */
.popup object {
	float: left;
}

.setbutton {
	color: white;
	background-color: green;
	padding: 8px;
	margin: 5px;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid black;
}

#loading-animation {
	float: none;
}
