.selectmenu {
	display: none;
	flex-direction: column;
}

.selectmenu h2 {
	text-align: center;
	margin-top: 30px;
}

.selectmenu a {
	border-top: 1px solid black;
	background-color: #ffffff;
	padding: 12px;
	margin-top: 1px;
}

.selectmenu .selectmenu-button:hover {
	background-color: #bbbbbb;
	cursor: pointer;
}

.selectmenu .selectmenu-split {
	background-color: #000000;
	color: white;
}

.selectmenu-button {
	text-decoration: none;
	color: black;
	text-align: center;
}

.selectmenu-button-double {
	display: flex;
	flex-direction: row;
}

.selectmenu-button-left {
	flex: 1 1;
}

.selectmenu-button-right {
	border-left:  1px solid black;
}
