#sidebar {
	overflow-y: auto;
	display: inline-flex;
	flex-direction: column;
	border-left: 1px solid black;
	min-width: 300px;
	width: 20vw;
	background: #fafafa;
}

#sidebar-header {
	font-family: Times;
	font-size: 28px;
	margin: 10px;
	padding-bottom: 10px;
}

#sidebar-discord-link {
	text-decoration: none;
}

#sidebar-discord {
	background: #7289da;
	border-radius: 12px;
	border: 2px solid white;
	font-weight: bold;
	text-decoration: none;
	color: white;
	display: inline-flex;
	padding: 10px;
}

#sidebar-close {
	background-color: #cccccc;
	position: absolute;
	right: 0px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display: inline-flex;
	cursor: pointer;
}

#sidebar-close .sidebar-close-svg {
	flex: 1;
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 2px;
}

#sidebar-popularvote {
	font-family: 'Roboto';
	font-size: 20px;
	border: 1px solid black;
	margin: 5px;
	background: #f8f9fa;
}

#sidebar-popularvote h3 {
	margin: 5px;
	padding: 0px;
	border-bottom: 1px solid black;
}

#popularvote-state-title {
	font-size: 20px;
	margin-bottom: 10px;
}

#popularvote-ranges {
	font-size: 18px;
}

#sidebar-national-popularvote {
	background: #f8f9fa;
	font-family: 'Roboto';
	font-size: 20px;
	border: 1px solid black;
	margin: 5px;
}

#sidebar-national-popularvote h3 {
	margin: 5px;
	padding: 0px;
	border-bottom: 1px solid black;
}

#national-popularvote-ranges {
	font-size: 18px;

}

#sidebar-popularvote-settings {
	font-family: 'Roboto';
	font-size: 20px;
	border: 1px solid black;
	margin: 5px;
	background: #f8f9fa;
}

#sidebar-popularvote-settings h3 {
	border-bottom: 1px solid black;	
	margin: 5px;
}

.sidebar-hover-popup div {
	display: none;
}

.sidebar-hover-popup:hover div {
	display: block;	
	color: green;
}
