#sidebar {
	overflow-y: auto;
	display: inline-flex;
	flex-direction: column;
	border-left: 1px solid black;
	min-width: 348px;
	max-width: 348px;
	width: 348px;
	background: #fafafa;
}

#sidebar-header {
	font-family: Times;
	font-size: 28px;
}

#sidebar-header h1 {
	margin: 0px;
	padding: 0px;
	font-size: 28px;
	font-weight: normal;
}

.adslot_sidebar {
	max-width: 336px;
}

#sidebar-social {
	display: flex;
	flex-direction: row;
	margin-top: 6px;
}

.sidebar-button {
	border-radius: 4px;
	border: 2px solid white;
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
}

.social-link {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	flex: 1;
}

#sidebar-discord {
	background: #7289da;
}

#sidebar-reddit {
	background: #ff4500;
}

#sidebar-android {
	background: #7db343;
}

#sidebar-twitter {
	background: #00A1ED;
}

.sidebar-box {
	font-family: 'Roboto';
	font-size: 14px;
	border-top: 1px solid #555555;
	margin-top: 6px;
	background: #f8f9fa;
}

.sidebar-box h3 {
	margin: 5px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
}

.sidebar-hover-popup {
	margin: 0px;
	padding: 0px;
}

.sidebar-hover-popup .tooltip-text {
	position: absolute;
	visibility: hidden;
	width: 250px;
	background: #444444;
	color: white;
	border-radius: 6px;
	text-align: center;
	padding: 4px;
	margin-left: 12px;
}

.sidebar-hover-popup:hover .tooltip-text {
	pointer-events: none;
	visibility: visible;
}

#sidebar-shortcuts {
	border-bottom: 1px solid #555555;
}

#sidebar-shortcuts ul {
	margin: 8px;
	padding: 0px;
	text-align: left;
	list-style: none;
	list-style-position: inside;
}

#yapnews-articles {
	font-family: Times;
}
