html {
	background-color: black;
	font-family: 'Roboto';
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

canvas {

}

body {
	overflow: hidden;
	background: white;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	
	font-size: 18px;
	display: flex;
	flex-flow: row;
}

button {
	font-size: inherit;
}

a {
	outline: 0;
}

#yapms {
	background-color: #181922;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	
	font-size: 18px;
	display: flex;
	flex-flow: column;
}

#yapnews {
	display: flex;
	flex-direction: column;
	font-family: Times;
	border-left: 1px solid black;
	width: 20vw;
	min-width: 260px;
	padding-right:12px;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
        -khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#shareurl {
	-webkit-touch-callout: all;
	-webkit-user-select: all;
        -khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: text;
	user-select: all;
}

#outlines {
	stroke-width: 1.5px;
}

#outlines path {
	transition: all 100ms linear;
}

#outlines rect {
	transition: all 100ms linear;
}

#text {
	font-size: 16px;
	pointer-events: none;
}

#application-loading {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;
	background: #FAFAFA;
	vertical-align: middle;
}

#application-loading-div {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 50vmin;
	height: 50vmin;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#application-loading-image {
	width: 100%;
	height: 100%;
}

#application-sidebar-div {
	display: flex;
	flex-direction: row;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

#application {
	position: relative;
	flex: 1 1 auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto';
}

#chart {
	width: 100%;
	max-height: 100%;
}

#chart-div {
	width: 28vw;
	height: 100%;
	border-right: 1px solid black;
	border-top: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	overflow: visible;
	touch-action: none;
}

#logo-div {
	height: 100%;
	width: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	display: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#logo-redeagle-div {
	height: 100%;
	width: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	display: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#logo-pg-div { 
	height: 100%;
	width: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	display: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#yapms-watermark {
	display: none;
	flex-direction: column;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 10%;
	margin: 0px;
	background: grey;
	font: times;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#yapms-watermark-header{
	margin-bottom: 10px;
}

#yapms-watermark-graphic {
	border: 1px solid black;
	border-radius: 6px;
	padding: 4px;
	background-color: white;
	color: black;
}

#yapms-watermark hr {
	border: 1px solid white;
}

#svgdata {
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-height: 1px;
	min-width: 1px;
}

#map-div {
	width: 100%;
	height: 100%;
	touch-action: none;
}

#toolbar-div {
	color: white;
	text-align: right;
}

.delete {
	width: 20px;
	height: 20px;
	background-color: #ffffff;
}

.state {
	cursor: pointer;
	fill: #ffffff;
	stroke: #000000;
	stroke-width: 1.5;
	color: red;
}

#captcha-notice {
	font-size: 12px;
	color: #666666;
}

.grecaptcha-badge {
	display: none !important;
}
