.yapnews-article {
	border-bottom: 1px solid #cccccc;
	margin: 10px;
	padding-bottom: 10px;
}

.yapnews-article-title {
	text-decoration: none;
	color: inherit;
}

.yapnews-article-author {
	font-size: 12px;
	color: #444444;
}

.yapnews-article-snippet {
	font-size: 14px;
	color: #444444;
	text-align: left;
}
