#yapnews {
	overflow-y: auto;
	display: inline-flex;
	flex-direction: column;
	transition: all 500ms;
}

#yapnews-header {
	font-family: Times;
	font-size: 28px;
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}

#yapnews-discord {
	background: #7289da;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 12px;
	border: 2px solid white;
	font-weight: bold;
}

#yapnews-discord a { 
	text-decoration: none;
	color: white;
}

#yapnews-close {
	background-color: #cccccc;
	position: absolute;
	right: 0px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display: inline-flex;
	cursor: pointer;
}

#yapnews-close .yapnews-close-svg {
	flex: 1;
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 2px;
}

.yapnews-article {
	border-bottom: 1px solid #cccccc;
	margin: 10px;
	padding-bottom: 10px;
}

.yapnews-article-title {
	text-decoration: none;
	color: inherit;
}

.yapnews-article-author {
	font-size: 12px;
	color: #444444;
}

.yapnews-article-snippet {
	font-size: 14px;
	color: #444444;
	text-align: left;
}
