#yapnews-header {
	font-family: Times;
	font-size: 28px;
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}

#yapnews-closebutton {
	position: relative;
	fill: red;
	transition: all 200ms;
	margin-left: 10px;
	margin-top: 10px;
}

#yapnews-closebutton:hover {
	fill: pink;
	transition: all 200ms;
}

.yapnews-article {
	border-bottom: 1px solid #cccccc;
	margin: 10px;
	padding-bottom: 10px;
}

.yapnews-article-title {

}

.yapnews-article-author {
	font-size: 12px;
	color: #444444;
}

.yapnews-article-snippet {
	font-size: 14px;
	color: #444444;
	text-align: left;
}
